LM/Estudio en casa/REPASO PROYECTO 1/concesionario_coches.dtd


    
    <!ELEMENT concesionario (informacion, stock)>
    <!ELEMENT informacion (nombre, ciudad)>
    <!ELEMENT nombre (#PCDATA)>
    <!ELEMENT ciudad (#PCDATA)>
    <!ELEMENT stock (coche+)>
    <!ELEMENT coche (marca, modelo, potencia, precio)>
    <!ELEMENT marca (#PCDATA)>
    <!ELEMENT modelo (#PCDATA)>
    <!ELEMENT potencia (#PCDATA)>
    <!ELEMENT precio (#PCDATA)>
    <!ATTLIST coche
    id ID #REQUIRED
    etiqueta CDATA #REQUIRED
    color CDATA #REQUIRED>

   