LM/Estudio en casa/REPASO PROYECTO 1/desarrollo_coches.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="concesionario">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="informacion">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string"/>
                            <xs:element name="ciudad" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="stock">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="coche" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="marca" type="xs:string"/>
                                        <xs:element name="modelo" type="xs:string"/>
                                        <xs:element name="precio" type="xs:decimal"/>
                                        <xs:element name="potencia" type="xs:integer"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                    <xs:attribute name="etiqueta" type="xs:string" use="required"/>
                                    <xs:attribute name="color" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>