LM/Estudio en casa/animales_externa.dtd

 
    <!ELEMENT animales (tipos)>
    <!ELEMENT tipos (perros, gatos)>
    <!ELEMENT perros (perro+)>
    <!ELEMENT perro (raza, peso, color)>
    <!ELEMENT gatos (gato+)>
    <!ELEMENT gato (raza, peso, color)>
    <!ELEMENT raza (#PCDATA)>
    <!ELEMENT peso (#PCDATA)>
    <!ELEMENT color (#PCDATA)>
    