LM/Estudio en casa/coches_dtd_interna.dtd

<!DOCTYPE coches [
    <!ELEMENT coches (coche+)>
    <!ELEMENT coche (marca, modelo, año)>
    <!ELEMENT marca (#PCDATA)>
    <!ELEMENT modelo (#PCDATA)>
    <!ELEMENT año (#PCDATA)>
]>
<coches>
    <coche>
        <marca>Ford</marca>
        <modelo>Mustang</modelo>
        <año>2020</año>
    </coche>
    <coche>
        <marca>Chevrolet</marca>
        <modelo>Camaro</modelo>
        <año>2021</año>
    </coche>
</coches>