LM/Estudio en casa/ropa_interna.dtd

<!DOCTYPE ropa [
    <!ELEMENT ropa (camisas)>
    <!ELEMENT camisas (camisa+)>
    <!ELEMENT camisa (tipo, color)>
    <!ELEMENT tipo (#PCDATA)>
    <!ELEMENT color (#PCDATA)>
]>

<ropa>
    <camisas>
        <camisa>
            <tipo>manga corta</tipo>
            <color>azul</color>
        </camisa>
        <camisa>
            <tipo>manga larga</tipo>
            <color>blanca</color>
        </camisa>
    </camisas>
</ropa>
